header="\033[0;32m"
info="\033[0;96m"
error="\033[0;91m"
reset="\033[0m"

template_name=debian-13-standard_13.6-1_amd64.tar.zst
storage_name=local
hostname=${build_host_name}
id=${build_host_id}
ip=${build_host_ip}
password=insecure_make_sure_to_change